# The for loop revisited

In [1]:
a = 5;

b = a;

a= 3;

print(a)

3

In [2]:
for f in ['Joe', 'Emma']:
    invitation = "Hi " + f + ", You are invited for a birthday party!"
    print(invitation)

Hi Joe, You are invited for a birthday party!
Hi Emma, You are invited for a birthday party!

In [3]:
def mysum(xs):
#     sum all numbers
    running_total = 0   #Before you update a variable, you have to initialize to the starting value.
    for x in xs:
        running_total = running_total + x
    return running_total


mysum([1, 2,3, 4] )

mysum([1.25, 2.5, 1.75])

mysum([1, -2, 3])

mysum([ ])
mysum(range(11))

55

In [4]:
range(11)

range(0, 11)

# The while statement

In [5]:
def sum_to(n):
    """ Return the sum of 1+2+3 ... n """
    ss = 0
    v = 1
    while v <= n:
        ss = ss + v
        v = v + 1
    return ss

sum_to(4)

10

In [6]:
def seq3np1(n):
    """ Print the 3n+1 sequence from n,
    terminating when it reaches 1. """
    while n != 1:
        print(n, end=", ")
        if n % 2 == 0: # n is even
            n = n // 2
        else: # n is odd
            n = n * 3 + 1
    print(n, end=".\n")
    

seq3np1(3)

3, 10, 5, 16, 8, 4, 2, 1.

In [7]:
a = 10 // 2

a

5

In [8]:
10 % 2

0

In [9]:
seq3np1(19)

19, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1.

In [10]:
seq3np1(21)

21, 64, 32, 16, 8, 4, 2, 1.

In [11]:
seq3np1(16)

16, 8, 4, 2, 1.

In [12]:
seq3np1(7)

7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1.

# Counting digits

In [13]:
def num_digits(n):
    count = 0
    while n != 0:
        count = count + 1
        n = n // 10
    return count

In [14]:
num_digits(710)

3

In [15]:
num_digits(3)

1

In [16]:
num_digits(0)

0

In [17]:
def num_zero_and_five_digits(n):
        count = 0
        while n > 0:
            digit = n % 10
        if digit == 0 or digit == 5:
            count = count + 1
            n = n // 10
        return count

In [ ]:
num_zero_and_five_digits(5)

In [ ]:
n = 2

n +=5

n

# Tables

In [ ]:
for x in range(13): # Generate numbers 0 to 12
    print(x, "\t", 2**x)

# Two-dimensional tables

In [ ]:
for i in range(1, 7):
    print(2 * i, end=" ")
print()

# Encapsulation and generalization

In [ ]:
def print_multiples(n):
    for i in range(1, 7):
        print(n * i,  end=" " )
    print()

In [ ]:
 print_multiples(2)

In [ ]:
 print_multiples(3)

In [ ]:
for i in range(1, 7):
    print_multiples(i)

# The break statement

In [ ]:
for i in [12, 16, 17, 24, 29]:
    if i % 2 == 1: # If the number is odd
        break # ... immediately exit the loop
    print(i)
print("done")

In [ ]:
17%2

# simple guessing game

In [ ]:
    import random # We cover random numbers in the


    rng = random.Random() # modules chapter, so peek ahead.
    number = rng.randrange(1, 1000) # Get random number between [1 and 1000).

    guesses = 0
    msg = ""

    while True:
        guess = int(input(msg + "\nGuess my number between 1 and 1000: "))
        guesses += 1
        if guess > number:
            msg += str(guess) + " is too high.\n"
        elif guess < number:
            msg += str(guess) + " is too low.\n"
        else:
            break

input("\n\nGreat, you got it in {0} guesses!\n\n".format(guesses))

In [ ]:
celebs = [("Brad Pitt", 1963), ("Jack Nicholson", 1937),
    ("Justin Bieber", 1994)]

print(celebs)

In [ ]:
print(len(celebs))

In [ ]:
for (nm, yr) in celebs:
    if yr < 1980:
        print (nm, yr)

In [ ]:
 students = [
    ("John", ["CompSci", "Physics"]),
    ("Vusi", ["Maths", "CompSci", "Stats"]),
    ("Jess", ["CompSci", "Accounting", "Economics", "Management"]),
    ("Sarah", ["InfSys", "Accounting", "Economics", "CommLaw"]),
    ("Zuki", ["Sociology", "Economics", "Law", "Stats", "Music"])]

In [ ]:
for (nm, sj) in students:
    print (nm, ' takes: ', len(sj), 'courses')

In [ ]:
counter = 0
for (nm, sj) in students:
    for s in sj:
        if s == 'CompSci':
            counter +=1
        
print ('Total number of students taking CompSci ', counter)

In [4]:
 def sqrt(n):
    approx = n/2.0 # Start with some or other guess at the answer
    while True:
        better = (approx + n/approx)/2.0
    if abs(approx - better) < 0.001:
        return better
    approx = better

In [ ]:
 sqrt(25)

In [ ]:
def MyMax (firstnumber, secondnumber): 
    
    if firstnumber > secondnumber: 
        return firstnumber
else:
return secondnumber

In [ ]:
e*e 

for e in range(20):
    if e%2==0

In [2]:
import sklearn

# Writing Pythonic Loops

In [3]:
my_items = ['a', 'b', 'c']


range(len(my_items))

range(0, 3)

In [4]:
 list(range(0, 3))

[0, 1, 2]

In [5]:
for item in my_items:
    print(item)

a
b
c

In [6]:
for i, item in enumerate(my_items):
    print(f'{i}: {item}')

0: a
1: b
2: c

In [1]:
 emails = {
    'Bob': 'bob@example.com',
    'Alice': 'alice@example.com'}

In [9]:
for name, email in emails.items():
    print(f'{name} -> {email}')

Bob -> bob@example.com
Alice -> alice@example.com

In [11]:
squares = [x * x for x in range(10)]

In [12]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
squares = []
for x in range(10):
    squares.append(x * x)